## D Vamsidhar - 24070149005
### NLP - Lab 03/02/2025

### Introduction to Word Vectorization

### Count Vectorizer

In [5]:
from sklearn.feature_extraction.text import CountVectorizer

# Sample sentence 
sentences = ["I love natural language processing", "I love learning new things"]

# Initialize count vectorizer
vectorizer = CountVectorizer()

# Fit and transform the sentences 
X = vectorizer.fit_transform(sentences)

# Display the vocabulary
print("Vocabulary:", vectorizer.get_feature_names_out())

# Display the count matrix
print("Count Matric:\n",X.toarray())

Vocabulary: ['language' 'learning' 'love' 'natural' 'new' 'processing' 'things']
Count Matric:
 [[1 0 1 1 0 1 0]
 [0 1 1 0 1 0 1]]

In [6]:
import pandas as pd

df = pd.DataFrame(X.toarray(), columns=vectorizer.get_feature_names_out())

df

   language  learning  love  natural  new  processing  things
0         1         0     1        1    0           1       0
1         0         1     1        0    1           0       1

#### Practice

In [ ]:
sentences = ["Abraham Lincoln was an Americam lawyer, politician, and statesman who served as the 16th president."]

### Tf-IDF [ <strong>Term Frequency - Inverse Document Frequency</strong> ] Vectorizer

* statistical measure used to evaluate the importance of a word in a document relative to a collection of document.
* TF = (No. of times term t appears in a document)/(Total number of terms in the document)
* IDF = log_e(Total no. of documents/No. of documents with terms t in it)
* <i><strong>TF_IDF = TF * IDF</strong></i>

In [11]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Sample sentence 
sentences = ["Dhoni wins world cup for India", "India lifts the World Cup after 28 years"]

# Initialize count vectorizer
vectorizer = TfidfVectorizer()

# Fit and transform the sentences 
X = vectorizer.fit_transform(sentences)

# Display the vocabulary
print("Vocabulary:", vectorizer.get_feature_names_out())

# Display the count matrix
print("Count Matric:\n",X.toarray())

Vocabulary: ['28' 'after' 'cup' 'dhoni' 'for' 'india' 'lifts' 'the' 'wins' 'world'
 'years']
Count Matric:
 [[0.         0.         0.33471228 0.47042643 0.47042643 0.33471228
  0.         0.         0.47042643 0.33471228 0.        ]
 [0.39166832 0.39166832 0.27867523 0.         0.         0.27867523
  0.39166832 0.39166832 0.         0.27867523 0.39166832]]

In [12]:
import pandas as pd

df = pd.DataFrame(X.toarray(), columns=vectorizer.get_feature_names_out())

df

,28,after,cup,dhoni,for,india,lifts,the,wins,world,years
0,0.000000,0.000000,0.334712,0.470426,0.470426,0.334712,0.000000,0.000000,0.470426,0.334712,0.000000
1,0.391668,0.391668,0.278675,0.000000,0.000000,0.278675,0.391668,0.391668,0.000000,0.278675,0.391668